body {
  background-color: lightgray;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 40px;
  width: 30vw;
  height: 40vw;
  box-sizing: border-box;
}

.resume-preview {
  width: 48%;
  padding: 20px;
  /* box-sizing: border-box; */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* overflow-y: auto;
  padding-right: 10px; */
  /* margin-bottom: 15px; */
}

.work-edu-container {
  overflow-y: auto;
  padding-right: 10px;
}

.input-container input {
  /* margin-bottom: 10px; */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* width: 300%; */
}

.input-container input:focus {
  outline: none;
  /* border-color: #007bff; */
  box-shadow: 0 0 3px 1px #007bff;
}

.resume-preview-container {
  /* margin-top: 20px; */
  width: 100%;
  box-sizing: border-box;
  /* padding: 20px; */
  height: 100vh;
  background-color: #fff;
}
.resume-content {
  /* display: flex;
  flex-direction: column; */
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section h2 {
  margin-top: 5px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.resume-section p {
  margin: 0;
}

.name {
  background-color: #0e374e;
  color: white;
  /* padding: 36px 24px; */
  padding: 24px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}

#resume-name {
  text-align: center;
}

.resume-section p.info {
  /* background-color: #000; */
  color: #fff;
  /* padding: 5px; */
  /* font-size: 0.8em; */
  font-size: 1em;
  text-align: center;
}

/* .profession {
  text-align: right;
  padding-right: 20px;
} */

.edu-form,
.exp-form {
  text-align: center;
}

.exp-prev,
.edu-prev {
  text-align: center;
}
.date {
  /* text-align: right; */
  float: right;
  padding-right: 20px;
}
