body {
  background-color: lightgray;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

:root {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 40px;
  width: 30vw;
  height: 50vw;
  box-sizing: border-box;
}

.resume-preview {
  width: 48%;
  padding: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.work-edu-container {
  overflow-y: auto;
  padding-right: 10px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container input:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #007bff;
}

.resume-preview-container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  height: 29.7cm;
  width: 21cm;
  /* width: 100%; */
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;
  display: grid;
  font-family: var(--resume-font);
  position: -webkit-sticky;
  position: sticky;
}

.resume-content {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.resume-section {
  /* margin-bottom: 20px; */
  margin-top: 40px;
  padding: 0 56px;
}

.resume-section h2 {
  margin-top: 5px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.resume-section p {
  margin: 0;
}

.personal-info {
  background-color: #0e374e;
  color: white;
  padding: 24px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  margin-bottom: 14px;
}
#resume-name {
  text-align: center;
}

.resume-section p.info {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.edu-form,
.exp-form {
  text-align: center;
}

.header-text {
  align-items: center;
  background-color: rgba(14, 55, 78, 0.07);
  border-radius: 2px;
  color: #0e374e;
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
  padding: 4px 0;
  text-align: center;
}

.resume-control {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.2);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
  z-index: 3;
}

.resume-control .clear-resume {
  align-items: center;
  background-color: initial;
  color: #b91c1c;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.clear-resume:active {
  transform: translateY(4px);
}

.load-example:active {
  transform: translateY(4px);
}
.resume-control .load-example {
  padding: 6px;
}

.resume-control button {
  border: none;
  border-radius: 4px;
  flex-grow: 1;
  font-family: NotoSans;
  font-size: 18px;
  transition: 0.1s;
  align-self: center;
}

.create-form {
  background-color: #007bff;
  border: 4px solid #eef0f4;
  color: white;
  border-radius: 69420px;
  margin: 18px;
  padding: 2px 10px;
  align-self: center;
}

.input-container label {
  font-weight: bold;
}

.num-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button {
  background-color: red;
}

.num-button:hover {
  background-color: #0056b3;
}

.delete-button:hover {
  background-color: red;
}

.personal-details {
  /* align-self: center; */
  margin-top: 10px;
}

.resume.top {
  grid-template-rows: auto 1fr;
}

.resume {
  background-color: #fff;
  display: grid;
  font-family: NotoSans, sans-serif;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
